<div class="login">
  <h1>Welcome</h1>
    <div class="login-box">
      <p>Logged in as {{session.currentUser.displayName}}</p>
      {{#if session.isAuthenticated}}
        <button class="btn" {{action "signOut"}}>Sign out</button>
        {{outlet}}
      {{else}}
        <button class="btn" {{action "signIn" "facebook"}}><i class="fab fa-facebook">  Sign in with Facebook</i></button>
      {{/if}}
    </div>
</div>
{{outlet}}
